<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row">
        <% if(data.length == '0'){%>
          <h3 style="text-align: center;">您沒有收藏任何股票唷~</h3>
        <% }else { %>
          <div class="text-center">
            <div id="sencondTitle" class="col-sm-10">
              <h2 class="page-header" >收藏清單</h2>
            </div>
           <div class="table-responsive col-sm-10">
            <table class="table table-striped table-bordered" style="width:100%;font-size: 20px">
              <thead>
                <tr>
                  <th class="warning" style="text-align: center;">證期會代碼</th>
                  <th class="warning" style="text-align: center;">名稱</th>
                  <th class="warning" style="text-align: center;">取消收藏</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<data.length; i++) {%>
                  <tr>
                      <td style="width: 30%;text-align: center;"><a href="./CompanyProfile?code=<%= data[i].CollectedId%>"><%= data[i].CollectedId%></a></td>
                      <td style="width: 30%;text-align: center;"><a href="./CompanyProfile?code=<%= data[i].CollectedId%>"><%= data[i].company%></a></td>
                      <td style="width: 20%;text-align: center;"><a onclick="del(this,'<%= data[i].CollectedId%>');">刪除</a></td>
                  </tr>
                <% } %>
              </tbody>
           </table>
          </div>
          </div>
        </div>
      <% }%>
    </div>
  </body>
  <script type="text/javascript">
    function del(obj,code) {
      var del = confirm('確定要取消收藏嗎?');
      if(del==true){
        $.ajax({
          type:'POST',
          url:'Collection/del',
          data:{act:'del',code:code},
          success: function(msg){
            if(msg == 'ok')
            {
              window.location.reload();
            }
          }
        });
      }
    }
  </script>
</html>
