<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %>
<title><%= title %></title> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row">
        <%- include sidebar.ejs %> 

        <div class="text-center" >
          <div class=col-sm-10 style="background-color: #f8f8fa;opacity: 0.9;">
            <div id="upper_row" class="row">
                <%- include up_contend.ejs %> 
              
            </div>
          </div>

          <div>
            <div id="sencondTitle" class="col-sm-10">
              <h2 class="page-header" >公司基本資料</h2>
            </div>
            <div class="table-responsive col-sm-10">
              <table class="CompanyTable table table-striped table-bordered" style="width:100%;font-size: 20px">
                <thead>
                <% for(var i=0; i<data.length; i++) {%>
                  <tr>
                    <th class="warning">證期會代碼</th>
                    <td><%= data[i].code %></td>
                    <th class="warning">公司名稱</th>
                    <td><%= data[i].company %></td>
                  </tr>
                  <tr>
                    <th class="warning">上市別</th>
                    <td><%= data[i].listed_type %></td>
                    <th class="warning">員工人數</th>
                    <td><%= data[i].employees %></td>
                  </tr>
                  <tr>
                    <th class="warning">產業類別編號</th>
                    <td><%= data[i].industry_name %></td>
                    <th class="warning">會計月份</th>
                    <td><%= data[i].accounting %></td>
                  </tr>
                  <tr>
                    <th class="warning">統一編號 </th>
                    <td><%= data[i].tax %></td>
                    <th class="warning">國際證券編號</th>
                    <td><%= data[i].isin %></td>
                  </tr>
                  <tr>
                    <th class="warning">本益比 </th>
                    <td><%= data[i].pe_ratio %></td>
                    <th class="warning">淨值比</th>
                    <td><%= data[i].net_ratio %></td>
                  </tr>
                  <tr>
                    <th class="warning">單月營收(千元)</th>
                    <td><%= data[i].revenue %></td>
                    <th class="warning">實收資本額(佰萬)</th>
                    <td><%= data[i].capital %></td>
                  </tr>
                  <tr>
                    <th class="warning">董事長</th>
                    <td><%= data[i].chairman %></td>
                    <th class="warning">總經理</th>
                    <td><%= data[i].general %></td>
                  </tr>
                  <tr>
                    <th class="warning">發言人</th>
                    <td><%= data[i].spokes %></td>
                    <th class="warning">財務經理</th>
                    <td><%= data[i].controller %></td>
                  </tr>
                  <tr>
                    <th class="warning">設立日期</th>
                    <td><%= data[i].founded %></td>
                    <th class="warning">上市日期</th>
                    <td><%= data[i].listed_date %></td>
                  </tr>

                  <tr>
                    <th class="warning">電話</th>
                    <td><%= data[i].telephone %></td>
                    <th class="warning">傳真</th>
                    <td><%= data[i].fax %></td>
                  </tr>
                  <tr>
                    <th class="warning">網址</th>
                    <td colspan="4"><a href="<%= data[i].website %>"><%= data[i].website %></a></td> 
                  </tr>
                  <tr>
                    <th class="warning">電子信箱</th>
                    <td colspan="4"><a href="mailto:<%= data[i].e_mail %>"><%= data[i].e_mail %></a></td>
                  </tr>
                    

                <% } %>
                </thead>
              </table>
            </div>
          </div>
        </div>

        </div> 
        </div>
      </div>
    </div>
    
  </body>
</html>
