<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>股起勇氣</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/end.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div class="jumbotron">
    <div class="end-content">
      <div class="row">
        <div class="col-md-2">
          <div class="row small-radios" style="text-align: left;">
            <div class="col-md-6">
              <input type="radio" id="good" name="q" value="a1">
              <label for="good">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" /> 
                </span>  
                <div class="label">解答</div>
              </label>
            </div>
            <div class="col-md-6">
              <input type="radio" id="error" name="q" value="a1">
              <label for="error">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>    
                <div class="label">錯誤</div>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-8 head-t">
            <h1>恭喜順利完成測驗！！</h1>
        </div>
        <div class="col-md-2 right-t">
            <h1><%= grade %></h1>
        </div>
      </div>
      <div class="overflow-box">
        <% for(var i=0;i<data.length;i++){ %>
          <h3 class="ans-title"><%= i+1%>、<%= data[i].question%></h3>
          <div class="row small-radios" style="text-align: left;">
            <div class="col-md-12">
            <input type="radio" id="<% if(data[i].answer =='A'){ %>good<% } else if(data[i].answer != 'A ' && u_answer[i]=='A'){ %>error<% } else { %>a1<% } %>" name="q<%= i+1; %>" value="A">
            <label for="<% if(data[i].answer =='A'){ %>good<% } else if(data[i].answer != 'A ' && u_answer[i]=='A'){ %>error<% } else { %>a1<% } %>">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
              </span>
              <div class="label"><%= data[i].option1%></div>
            </label>
          </div>
          <div  class="col-md-12">
            <input type="radio" id="<% if(data[i].answer =='B'){ %>good<% } else if(data[i].answer != 'B ' && u_answer[i]=='B'){ %>error<%} else{ %>a2<% } %>" name="q<%= i+1; %>" value="B">
            <label for="<% if(data[i].answer =='B'){%>good<% } else if(u_answer[i]=='B' && data[i].answer != 'B '){ %>error<%} else { %>a2<% } %>">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
              </span>
              <div class="label"><%= data[i].option2%></div>
            </label>
          </div>
          <div class="col-md-12">
            <input type="radio" id="<% if(data[i].answer =='C'){%>good<% } else if(data[i].answer != 'C ' && u_answer[i]=='C'){ %>error<%} else { %>a3<% } %>" name="q<%= i+1; %>" value="C">
            <label for="<% if(data[i].answer =='C'){ %>good<% } else if(data[i].answer != 'C ' && u_answer[i]=='C'){ %>error<%} else { %>a3<% } %>">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" /> 
              </span>   
            <div class="label"><%= data[i].option3%></div>
            </label>
          </div>
          <div class="col-md-12">
          
            <input type="radio" id="<% if(data[i].answer =='D'){%>good<% } else if(data[i].answer != 'D ' && u_answer[i]=='D') { %>error<%} else { %>a4<% } %>" name="q<%= i+1; %>" value="D">
            <label for="<% if(data[i].answer =='D'){%>good<% } else if(data[i].answer != 'D ' && u_answer[i]=='D') { %>error<%} else { %>a4<% } %>">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
              </span>   
            <div class="label"><%= data[i].option4%></div>
            </label>
          </div>
          </div>
        <% } %>
    </div>                
  </div>
</body>
</html>