<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %>
<title><%= title %></title>  
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row">
        <%- include sidebar.ejs %> 
        <div class="text-center">
          <div class=col-sm-10 style="background-color: #f8f8fa;opacity: 0.9;">
            <div id="upper_row" class="row">
            <%- include up_contend.ejs %> 
            </div>
          </div>

      
          <div class=col-sm-10 style="padding-top:20px;">
            <div id="main1" style="height:400px;padding-top: 20px;"></div>
          </div>
          <div class=col-sm-10>
            <div id="main2" style="height:400px;padding-top: 20px;margin-top: 20px;"></div>
          </div>
          <div class=col-sm-10>
            <div id="main3" style="height:400px;padding-top: 20px;margin-top: 20px;"></div>
          </div>
          <div class="col-sm-10">
            <div id="sencondTitle">
              <h2 class="page-header" >營收盈餘</h2>
            </div>
            <div class="table-responsive col-sm-12 ">
              <table class="table table-striped table-bordered" style="width:100%;font-size: 20px">
                <thead>
                  <th class="warning">年月</th>
                  <th class="warning">單月營收</th>
                  <th class="warning">單月月增率</th>
                  <th class="warning">單月年增率</th>
                  <th class="warning">累計營收</th>
                  <th class="warning">累計年增率</th>
                </thead>
                <tbody>
                  <% for(var i=0; i<data.length; i++) {%>
                    <tr>
                      <td>
                        <%= data[i].date%>
                      </td>
                      <td>
                        <%= data[i].revenue%>
                      </td>
                      <td>
                        <%= data[i].m_growth_rate%>
                      </td>
                      <td>
                        <%= data[i].a_growth_rate%>
                      </td>
                      <td>
                        <%= data[i].acc_revenue%>
                      </td>
                      <td>
                        <%= data[i].acc_growth_rate%>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
           </div>
          </div>
          </div>
        </div> 
        </div>
      </div>
    </div>
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
      $.ajax({
              url: '/Revenue/getChartData',
              type: 'POST',
              dataType: 'JSON',
              data:{code:<%= data[0].code %>},
              success: function(ChartData) {
                var year = [];
                var growth = [];
                var revenue = [];
                var clos = [];
                for (var i = 0; i < ChartData.length; i++) {
                  year.push(ChartData[i].r_montly);
                  growth.push(ChartData[i].a_growth_rate);
                  revenue.push(ChartData[i].revenue);
                  clos.push(ChartData[i].clos);
                }
                require.config({
                  paths: {
                    echarts: 'http://echarts.baidu.com/build/dist'
                  }
                });
                require(
                [
                  'echarts',
                  'echarts/chart/bar',
                  'echarts/chart/line'
                ],
                function (ec) {
                  var myChart = ec.init(document.getElementById('main1')); 
                  var option = {
                        backgroundColor:'rgba(255, 255, 255, 0.3)',
                        title:{
                          text:'月收盤價',
                          x:'center',
                          textStyle:{
                            fontSize:18,
                            fontWeight:'bolder',
                            color: "#000000",
                            fontFamily:'DFKai-sb'
                            // fontFamily:'Microsoft YaHei'
                          }
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data:['月收盤價'],
                            x:'right',
                            padding:[10,50,0]
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        toolbox: {
                            feature: {
                                saveAsImage: {}
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: year
                        },
                        yAxis: {
                            type: 'value',
                            name:'元'
                        },
                        series: [
                            {
                                name:'月收盤價',
                                type:'line',
                                stack: '总量',
                                data: clos
                            }
                        ]
                    };
                  var myChart2 = ec.init(document.getElementById('main2')); 
                  var option2 = {
                        backgroundColor:'rgba(255, 255, 255, 0.3)',
                        title:{
                          text:'月年增率',
                          x:'center',
                          textStyle:{
                            fontSize:18,
                            fontWeight:'bolder',
                            color: "#000000",
                            fontFamily:'DFKai-sb'
                            // fontFamily:'Microsoft YaHei'
                          }
                        },
                        tooltip : {
                            trigger: 'axis',
                            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        legend: {
                        data:['月年增率'],
                        x:'right',
                        padding:[10,50,0]
                        },
                        grid: {
                            top: 80,
                            bottom: 30
                        },
                        yAxis: {
                            type : 'value',
                            position: 'top',
                            name:'百分比',
                            axisLabel:{formatter:'{value}'},
                            splitLine: {lineStyle:{type:'dashed'}},
                        },
                        xAxis: {
                            type : 'category',
                            data : year
                        },
                        series : [
                            {
                                name:'月年增率',
                                type:'bar',
                                itemStyle: {normal: {color:'rgba(250,70,100,1)'}},
                                barWidth : 20,
                                stack: '总量',
                                label: {
                                    normal: {
                                        show: true,
                                        formatter: '{b}'
                                    }
                                },
                                data: growth
                            }
                        ]
                    };
                  var myChart3 = ec.init(document.getElementById('main3')); 
                  var option3 = {
                        backgroundColor:'rgba(255, 255, 255, 0.3)',
                        title:{
                          text:'月營收',
                          x:'center',
                          textStyle:{
                            fontSize:18,
                            fontWeight:'bolder',
                            color: "#000000",
                            fontFamily:'DFKai-sb'
                            // fontFamily:'Microsoft YaHei'
                          }
                        },
                        tooltip : {
                            trigger: 'axis',
                            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        legend: {
                        data:['月營收'],
                        x:'right',
                        padding:[10,50,0]
                        },
                        grid: {
                            top: 80,
                            bottom: 30
                        },
                        yAxis: {
                            type : 'value',
                            name:'元',
                            axisLabel:{formatter:'{value}'},
                            splitLine: {lineStyle:{type:'dashed'}},
                        },
                        xAxis: {
                            type : 'category',
                            data : year
                        },
                        series : [
                            {
                                name:'月營收',
                                type:'bar',
                                itemStyle: {normal: {color:'rgba(200,70,100,1)'}},
                                barWidth : 20,
                                stack: '总額',
                                label: {
                                    normal: {
                                        show: true,
                                        formatter: '{b}'
                                    }
                                },
                                data: revenue
                            }
                        ]
                      };
                  myChart.setOption(option); 
                  myChart2.setOption(option2);
                  myChart3.setOption(option3);
               });
              }
            });
    </script>
</html>
