<!DOCTYPE html>
<html lang="en">
 <%- include header.ejs %> 
<title><%= title %></title>
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row">
        <%- include sidebar.ejs %> 
        <div class="col-sm-10">
          <h2 class="page-header">重大行事曆</h2>
          <div class="table-responsive">
            <table class="table table-striped" style="width:100%;font-size: 20px">
              <thead>
                <tr>
                  <th class="warning">日期</th>
                  <th class="warning">類別</th>
                  <th class="warning">筆記</th>
                  <th class="warning">時間</th>
                  <th class="warning">地點</th>
                  <th class="warning"> 內容</th>
                </tr>
              </thead>
              <tbody>
              <% for(var i=0; i<data.length; i++) {%>
                <tr>
                  <td><%= data[i].event_date %></td>
                  <td><%= data[i].event_type %></td>
                  <td><%= data[i].event_note %></td>
                  <td><%= data[i].time %></td>
                  <td><%= data[i].place %></td>
                  <td><%= data[i].content %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
